/*displays objects in center*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*default text font and color*/
body p{
	font-family: Arial,Helvetica,sans-serif;
	color: #343434;
}
body a{
	font-family: Arial,Helvetica,sans-serif;
	color: #343434;
}

body a:hover{
	color: inherit;
}

body{
	background-color: #eaecf0 !important;
}

/*button style*/
.button {
	color: #fff !important;
	text-decoration: none;
	background-color: #89cff0;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	cursor: pointer;
    margin-bottom: 3px !important;
}

.link{
	cursor: pointer;
}

row{
	padding: 50px;
}

.mixingDesk{
	padding-left: 20px;
	padding-right: 20px;
	width: 87%;
	height: 290px;
	bottom: 0;
	overflow-x: auto;
	background: #fffd;
	border-radius: 20px;
	margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 5px;
}

.master{
	padding-left: 20px;
	padding-right: 20px;
	width:10%;
	height: 290px;
	bottom: 0;
	overflow-x: auto;
	float: right;
	background: #fffd;
	border-radius: 20px;
	margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 5px;
}

.sequencersContainer{
	padding-top: 5px;
	display: block;
	height: 450px;
	width: 98% !important;
	overflow-y: auto;
	background: #fffd;
	border-radius: 20px;
	margin-left: 10px;
}

.effectDiv{
    padding-bottom: 20px;
}

.addChannelButton{
	float: right;
	padding-right: 20px;
}

.playPauseButton{
	float: left;
	padding-left: 20px;
}

.step{
	width:50px;
	height:50px;
	padding: 2.5px;
	padding-right: 5px;
	cursor: pointer;
}

.seqDiv{
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}

.sequencerNameDiv{
	padding-left: 5px;
	height: 100%;
	width: 10%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.seqNameLabel{
    cursor: text;
}

.parameterDiv{
    padding-right: 10px;
}

.bottomBar{
	bottom: 0;
	position: fixed;
	width: 100%;
	margin-right: 5px !important;
   margin-left: 5px !important;
}

.navbar{
	overflow: hidden;
    background-color: #89cff0;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /*Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
	cursor: pointer;
	color: inherit;
}

.channelContainer{
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
    margin-left: 0px !important;
    margin-right: 10px !important;
	flex-grow: unset !important;
    border-radius: 15px;
}

.channelDiv{
    cursor: pointer;
    overflow: hidden;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.effectsDiv{
	overflow-y: auto;
	height: 245px;
	width: 220px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.textContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}